<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav">

            <a class="navbar-brand" href="/">Good Eats</a>
            <li><a href="/">Index</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/random">Random</a></li>
            <li><a href="/restaurants">Articles</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right" id="rs-padding">

            <li><a href="/auth/Login">Login</a></li>
            <li><a href="/auth/Register">Register</a></li>
            <li><a href="/auth/Logout">Logout</a></li>

        </ul>
    </nav>