<!-- Include Header -->
<%- include partials/header.ejs %>
<h1><%= title %></h1>
<br>
<main class="container well">
    <div class="jumbotron">
    <h2>Barrie Restaurant Directory</h2>
    <br>
    <p>This site is built using the Node.JS and Express Framework and uses M-Labs online database.</p>
    <br>
    <p>This site was made for Assignment 2 of my Advanced Server Side Scripting Class </p>
    <br>
    <p>If you are an admin, login to add edit or delete a Restaurant.</p>
    </div>
</main>
<!-- Include Footer -->
<%- include partials/footer.ejs %>