body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.form-control {*/
/*width: 40%;*/
/*}*/

form {
  background-color: #2B2922;


}
/* Header Styles */



/* Footer Styles */
footer {
  padding-top: 100em;
  outline: black 3px solid;
}