html body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin:0;
  padding:0;
  padding: 50px;
}

a {
  color: #00B7FF;
}

/*.form-control {*/
/*width: 40%;*/
/*}*/


form {


}
/* Header Styles */

/* Navigation Styles */
#rs-padding {
  padding-right: 25px;
}

/* Footer Styles */
footer p {
  color: white;
  padding-top: 12px;
}

footer a {
  color: white;
  text-decoration: underline;
}




