<!-- Include Header -->
<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Restaurant Details</h1>
    <form method="post" action="add">
        <fieldset class="form-group">
            <label for="founded" class="col-sm-2">Founded: *</label>
            <input name="founded" id="founded" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="RestaurantName" class="col-sm-2">Name: *</label>
            <input name="RestaurantName" id="RestaurantName" required />
        </fieldset>
            <fieldset class="form-group">
                <label for="title" class="col-sm-2">About: *</label>
                <input name="about" id="about" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="phone" class="col-sm-2">Phone Number: *</label>
                <input name="phone" id="phone" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="address" class="col-sm-2">Address: *</label>
                <input name="address" id="address" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="website" class="col-sm-2">Website: *</label>
                <input name="website" id="website" required />
            </fieldset>
        <button class="btn btn-primary col-sm-offset-2">Save</button>
    </form>
</main>

<!-- Include Footer -->
<%- include ../partials/footer.ejs %>