<!-- Include Header -->
<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Restaurant Details</h1>
    <form method="post" action="add">
        <fieldset class="form-group">
            <label for="RestaurantName" class="col-sm-2">Name: </label>
            <input name="RestaurantName" id="RestaurantName" placeholder="Really? C'mon"required />
        </fieldset>
        <fieldset class="form-group">
            <label for="title" class="col-sm-2">About: </label>
            <input name="about" id="about" placeholder="This restaurant....."required />
        </fieldset>
        <fieldset class="form-group">
            <label for="phone" class="col-sm-2">Phone Number: </label>
            <input name="phone" id="phone" placeholder="(123)-456-7890" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="address" class="col-sm-2">Address: </label>
            <input name="address" id="address" placeholder="123 Face Palm Street" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="website" class="col-sm-2">Website: </label>
            <input name="website" id="website"  placeholder="www.thewebsite.com" required />
        </fieldset>
        <button class="btn btn-primary col-sm-offset-2">Save</button>
    </form>
</main>

<!-- Include Footer -->
<%- include ../partials/footer.ejs %>