<!-- Include Header -->
<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Add, Update, Or Delete A Restaurant</h1>

    <a href="/restaurants/add" title="Add Restaurant">Add a new Restaurant</a>

    <ul class="list-group">
        <% for (var i = 0; i < restaurants.length; i++) { %>
            <li class="list-group-item">
                <a href="/restaurants/<%= restaurants[i]._id%>" title="Read More">
                    <%= restaurants[i].RestaurantName %></a>
            </li>
        <% } %>
    </ul>
</main>

<!-- Include Footer -->
<%- include ../partials/footer.ejs %>